
:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-s: 8px;
    --space-l: 24px;
    --space-b: 36px;
    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #D3DEE9;
      
    --color-primary: rgb(46,46,255);
    --color-white: #ffffff;
    --border-radius-d: 12px;
    --border-radius-s: 4px;
    --color-title: #212529;
    --color-text: #343a40;


    --weight-title: 700;
    --weight-text: 400;

    --page-width: 1000px;
    --color-white: #ffffff;

    


}


/* ================================= */
.page {  
    background: #ffffff;
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.page_content {
    max-width: var(--page-width);
    width: 100%;

    display: flex;
    flex-direction: column;
    
    gap: 80px;
}

/* ================================= */

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;

    position: sticky;

    max-width: var(--page-width);
    width: 100%;

    top: 10px;
    left: 10px;

   
    background: white;
    z-index: 1;

}



.logo {
    font-size: 17px;
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius-d) / 2);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link{
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;

    
}

.nav_link:hover {
    color: var(--color-primary);
    font-size: var(--size-d);
    text-decoration: underline;
    transition-property: color;
    transition-duration: 1s;
}

.footer{
    
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);  
    
    display: flex;
    justify-content: space-between;
}
.footercopy {
    font-size: 14px;
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}
.footer_title {
    font-size: var(--size-l);   
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}



.main {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--space-l);
    
    background: #FFF;
}

.info {
    max-width: 582px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
   
    gap: var(--space-l);

}

.info_title {
    font-size: 56px;
    color: var(--color-title);
    font-weight: var(--weight-title);
    justify-content: center;
    line-height: 120%;   
}

.info_text {
    max-width: 412px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: var(--size-b);
    color: var(--color-title);
   
    justify-content: center;
    line-height: 36px;   
}


.form {
    max-width: 340px;
    width: 100%;

    background-color: var(--color-white);
    border-radius: var(--border-radius-s);
    border: 1px solid #DEE2E6;
    background: #F8F9FA;
    padding: 60px 48px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}



.form_info {
    text-align: center;
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    color: #6c757d;
    line-height: 100%;
}

.form_button{
    text-align: center;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-s);
    transition: opacity 0.7s;

}

.form_button:hover {
    opacity: 0.7;
}

.form_button:active {
    opacity: 0.3;
}

.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
    background: #FFF;
}

.form_input {
    padding: var(--space-xm);
    border: 1px solid #ced4da;
    border-radius: var(--border-radius-s);
}

.form_input::placeholder {
    color: var(--color-title);
    font-size: var(--size-d);
}

.form_checkbox {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}



.advantages {
    display: flex;
    gap:var(--space-l);
    
}

.updates {
    display: flex;    
    padding: var(--space-l);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-l);
    border-radius: var(--border-radius-s);
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.updates_title {
    display: flex;
    padding: 0px 0px 12px 0px;
    align-items: flex-start;
    align-self: stretch;
    
    color: var(--color-title);
    font-size: var(--size-b);   
    line-height: var(--size-l);

    border-bottom: 1px solid #DEE2E6;
}

.updates_list {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.upd_image {
    width: 32px;
    height: 32px; 
}

.upd_body {
    display: flex;
    padding: 0px 0px 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-m);
    flex: 1 0 0;
    border-bottom: 1px solid #DEE2E6;
}

.updates_nick {
    
    width: 72px;
    height: 16px;
    display: flex;
    
    color: #6C757D;
    font-size: 12px;
 
    font-weight: var(--weight-title);
    line-height: var(--size-d);
}

.updates_description {
    justify-content: center;
    align-self: stretch;
    
    color: #6C757D;
    font-size: var(--size-d);
    
    line-height: 100%;
}

.updates_url {
    color: #007BFF;
    text-align: right;
    font-size: var(--size-s);
   
    line-height: var(--size-l);

    transition-duration: 0.7s;
    transition-property: opacity;
}

.updates_url:hover {
    opacity: 0.7;   
}

.exp {
    display: flex;
    padding: 24px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-l);
    align-self: stretch;
    border-radius: var(--border-radius-s);
    background: #F8F9FA;
}

.exp_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}
.exp_title {
    display: flex;
    
    width: 534px;
    flex-direction: column;
    flex-shrink: 0;
    
    color: var(--color-title);
    font-size: 42px;
    
    font-weight: var(--weight-title);
    line-height: 120%;
}

.exp_badge {

    position: relative;
    
    top: -70%;
    right: -5%;
    
    display: flex;
    
    transform: rotate(30deg);
    padding: 12px 24px;
    
    align-items: center;
    gap: 12px;
  
    border-radius: 70px;
    background: #FF7347;

    color: #FFF;
    font-size: var(--size-b);
    
    font-weight: var(--weight-title);
    line-height: 120%;    
}

.exp_card {
    display: flex;
    align-items:stretch;
    gap: 24px;
    align-self: stretch;

}

.exp_list {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 12px;
    background: #212529;
}

.exp_name {
    color: #FFF;
    font-size: 20px;
    
    font-weight: 700;
    line-height: 26px;
}

.exp_details {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #B1B1B1;
    /* Regular/16px */
    font-size: 16px;
    
    line-height: 22px;
}



