<div class="list">
    <div class="footer">          
        {{#with footer}}         
            
        {{>navBlack list=pages}}
        <span class="footercopy">{{copyright}}</span>
        
        {{/with}}        
    </div>      
</div>  